<!-- gitment  -->
<div id="gitmentcontainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	var gitment = new Gitment({
		id: '{{ page.title }}', // 可选。默认为 location.href
		owner: 'linonetwo012@gmail.com',
		repo: 'https://github.com/linonetwo/linonetwo.github.io',
		oauth: {
			client_id: '8a658374212177e63e4c',
			client_secret: 'aee7fdb1dd461919b6f0e31c8229a57ff0fd87eb',
		},
	})
	gitment.render('gitmentcontainer')
</script>
<!-- gitment -->