<!-- gitment  -->
<div id="gitmentcontainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	var gitment = new Gitment({
		id: '{{ page.date }}', // 可选。默认为 location.href
		owner: 'linonetwo',
		repo: 'linonetwo.github.io',
		oauth: {
			client_id: '8eee267161c2ec104ed3',
			client_secret: '7811bfc55e42371008609937dd5927bfe60f3bb9',
		},
	})
	gitment.render('gitmentcontainer')
</script>
<!-- gitment -->