<footer>
    <p>
        Share with <a href="https://onetwo.ren/about/" target="_blank">onetwo's</a> <span class="love">❤</span> and brainhole
        <!-- 友盟的访问记录 -->
        <span style="margin-left: 20px" id='cnzz_stat_icon_1275542333'></span>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275542333%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </p>


</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<!-- 百度自动推送工具代码 -->
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
