<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    {% include head.html %}
    <body>
        <!-- gitment  -->
        <div id="container"></div>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        <script>
        var gitment = new Gitment({
            id: '页面 ID', // 可选。默认为 location.href
            owner: '你的 GitHub ID',
            repo: '存储评论的 repo',
            oauth: {
            client_id: '你的 client ID',
            client_secret: '你的 client secret',
            },
        })
        gitment.render('container')
        </script>
        <!-- gitment -->
            
        {% include svg-icons.html %}
        {% include header-post.html %}
        <section class="post">

            <article role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>

            {% include share.html %}
            {% include author.html %}
            {% include comments.html %}
            {% include footer.html %}
        </section>
    </body>
</html>
